<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.wedev.wecom.mybatis.mapper.OpLogMapper">

    <insert id="saveLog" parameterType="tech.wedev.wecom.entity.po.OpLogPO" keyColumn="id" keyProperty="id"
            useGeneratedKeys="true">
        insert into op_log (corp_id, org_code, op_content, op_user_id, op_tellerno, op_type, op_time, gmt_create, create_id, gmt_modified, modified_id, is_deleted)
        values (#{corpId, jdbcType=VARCHAR}, #{orgCode, jdbcType=VARCHAR}, #{opContent, jdbcType=VARCHAR}, #{opUserId, jdbcType=VARCHAR}, #{opTellerno, jdbcType=VARCHAR}, #{opType, jdbcType=INTEGER}, sysdate(), sysdate(), #{createId, jdbcType=BIGINT}, sysdate(), #{modifiedId, jdbcType=BIGINT}, #{isDeleted, jdbcType=INTEGER})
    </insert>

</mapper>
