<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.wedev.wecom.mapper.CorpInfoMapper">
    <resultMap id="BaseResultMap" type="tech.wedev.wecom.entity.po.CorpInfo">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="corp_id" property="corpId"/>
        <result column="agent_application" property="agentApplication"/>
        <result column="agent_jsapi_ticket" property="agentJsapiTicket"/>
        <result column="corp_jsapi_ticket" property="corpJsapiTicket"/>
        <result column="secret_application" property="secretApplication"/>
        <result column="secret_communication" property="secretCommunication"/>
        <result column="secret_external_contact" property="secretExternalContact"/>
        <result column="secret_msg_audit" property="secretMsgAudit"/>
        <result column="token_application" property="tokenApplication"/>
        <result column="token_communication" property="tokenCommunication"/>
        <result column="token_external_contact" property="tokenExternalContact"/>
        <result column="token_msg_audit" property="tokenMsgAudit"/>
        <result column="token_application_modified" property="tokenApplicationModified"/>
        <result column="token_communication_modified" property="tokenCommunicationModified"/>
        <result column="token_external_contact_modified" property="tokenExternalContactModified"/>
        <result column="token_msg_audit_modified" property="tokenMsgAuditModified"/>
        <result column="agent_jsapi_ticket_modified" property="agentJsapiTicketModified"/>
        <result column="corp_jsapi_ticket_modified" property="corpJsapiTicketModified"/>
        <result column="chat_save_pri_key" property="chatSavePriKey"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="create_id" property="createId"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="modified_id" property="modifiedId"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>
     <sql id="Base_Column_List">
            `id`,`corp_id`,`agent_application`,`agent_jsapi_ticket`,`corp_jsapi_ticket`,`secret_application`,`secret_communication`,`secret_external_contact`,`secret_msg_audit`,`token_application`,`token_communication`,`token_external_contact`,`token_msg_audit`,`token_application_modified`,`token_communication_modified`,`token_external_contact_modified`,`token_msg_audit_modified`,`agent_jsapi_ticket_modified`,`corp_jsapi_ticket_modified`,`chat_save_pri_key`,`gmt_create`,`create_id`,`gmt_modified`,`modified_id`,`is_deleted`
     </sql>

</mapper>
