<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.wedev.wecom.dao.ZhCustMgrMapMapper">
    <resultMap id="BaseResultMap" type="tech.wedev.wecom.entity.po.ZhCustMgrMapPO">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="id" property="id"/>
        <result column="inner_mgr_id" property="innerMgrId"/>
        <result column="inner_mgr_name" property="innerMgrName"/>
        <result column="org_code" property="orgCode"/>
        <result column="qywx_mgr_id" property="qywxMgrId"/>
        <result column="qywx_corp_id" property="qywxCorpId"/>
        <result column="qywx_mgr_name" property="qywxMgrName"/>
        <result column="qywx_mgr_mobile" property="qywxMgrMobile"/>
        <result column="qywx_mgr_position" property="qywxMgrPosition"/>
        <result column="qywx_mgr_email" property="qywxMgrEmail"/>
        <result column="qywx_mgr_alias" property="qywxMgrAlias"/>
        <result column="qywx_mgr_status" property="qywxMgrStatus"/>
        <result column="qywx_mgr_address" property="qywxMgrAddress"/>
        <result column="enable" property="enable"/>
        <result column="enable_reason" property="enableReason"/>
        <result column="department" property="department"/>
        <result column="main_department" property="mainDepartment"/>
        <result column="business_line_name" property="businessLineName"/>
        <result column="business_line_tag" property="businessLineTag"/>
        <result column="business_line_org" property="businessLineOrg"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="create_id" property="createId"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="modified_id" property="modifiedId"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>
     <sql id="Base_Column_List">
            `id`,`inner_mgr_id`,`inner_mgr_name`,`org_code`,`qywx_mgr_id`,`qywx_corp_id`,`qywx_mgr_name`,`qywx_mgr_mobile`,`qywx_mgr_position`,`qywx_mgr_email`,`qywx_mgr_alias`,`qywx_mgr_status`,`qywx_mgr_address`,`enable`,`enable_reason`,`department`,`main_department`,`business_line_name`,`business_line_tag`,`business_line_org`,`gmt_create`,`create_id`,`gmt_modified`,`modified_id`,`is_deleted`
     </sql>
    <select id="selectByQywxMgrIdAndQywxCorpId" resultType="tech.wedev.wecom.entity.po.ZhCustMgrMapPO">
        select
        <include refid="Base_Column_List"></include>
        from zh_cust_mgr_map
        where qywx_mgr_id=#{qywxMgrId} and qywx_copr_id=#{qywxCorpId};
        and qywx_mgr_status=1
        and enable=1
        and is_deleted=0
        limit 1
    </select>
</mapper>
